body{

    margin-right: 40px;
    margin-left:40px;
    font:1em/1.5 sans-serif; 
    text-align: center;


}
h2{

    margin-left: 60px;
    font-size: 30px;
}
form{
    margin:20px auto;
    width:320px;
    background-color:rgb(177, 207, 219);
    text-align: center;
}
input{
    padding:10px;
    font-size: inherit;
}
input [type="text"]{
    display: block;
    margin-bottom: 25px;
    width:100%;
    border:2px solid steelblue ;
}
input:focus{
    background-color:wheat;
}
input[type="radio"]:checked+label{
    font-weight: bold;
    font-size: 18px;
}
#mine{
    text-align: center;
    background-color:rgb(177, 207, 219);
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  
  }
  .fa-facebook {
    color: white;
  }
  
  .fa-twitter {
    color: white;
  }
  .fa-instagram{
    color:white;
  }
  #footer{
    text-align:center;
  }
  fa {
    padding: 20px;
    font-size: 40px;
    width: 60px;
    height:40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  #fanny{
  text-align:center;
  color:white;
  }
  .footer{
    background-color:gray;
    
  }